<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show alert-fixed w-50 mx-auto">
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
