<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %> alert-dismissible fade show alert-fixed w-25 mx-auto">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<script type="text/javascript">
  setTimeout(function(){
    $('.alert').fadeOut();
   }, 3000);
</script>