@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

$main-color: rgb(75, 224, 75);
$admin-color: #f7a028;

body {
  font-family: "Quicksand", serif;
  font-weight: 400;
  background-color: #f9fafb;
}

header {
  font-weight: 500;
}

.drop-login {
  min-width: 0 !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #ccc;
}

h1,
.navbar-brand {
  font-weight: 700;
}

h5 {
  font-weight: 600;
}

.hero-main {
  font-size: 3rem;
}

.hero-text {
  font-size: 20px !important;
}

.hero-img {
  margin-left: 65px;
  height: 600px;
}

.blob-img {
  position: absolute;
  padding-right: 0 !important;
  top: 0;
  left: 0;
  z-index: -1000;
}

i {
  margin-left: 5px;
}

.fa-angle-down {
  color: $main-color;
}

.btn-hero {
  background-color: $main-color;
  border-color: $main-color;
  font-size: 1rem;
  font-weight: 600;
}

.btn-header {
  font-size: 1rem;
  font-weight: 600;
}

.dashboard {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  border: 0.0625rem solid rgba(46, 54, 80, 0.125);
  border-radius: 1rem;
}

.fa-user-friends {
  font-size: 2rem;
  color: #262b40;
  margin-left: 0;
}

.fa-cash-register {
  font-size: 2rem;
  color: #f3b773;
  margin-left: 0;
}

.fa-chart-pie {
  font-size: 2rem;
  color: #069999;
  margin-left: 0;
}

.fa-user-shield {
  color: #262b40;
}

.fa-business-time {
  color: #f3b773;
}

.icon-shape-primary {
  color: #262b40;
  background-color: rgba(38, 43, 64, 0.3);
}

.icon-shape-secondary {
  color: #f3b773;
  background-color: rgba(243, 183, 115, 0.3);
}

.icon-shape-info {
  color: #53e2cf;
  background-color: rgba(37, 228, 218, 0.3);
}

.icon-shape {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem !important;
}

.admin-text {
  margin-bottom: 5.7%;
}

.text-admin-success {
  color: $main-color;
}

.nav-hidden {
  display: none !important;
}

.row,
.row > * {
  margin-top: 0;
}

.btn-share {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.btn-export {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.btn-export,
.btn-share {
  font-weight: 400;
  border: 1.5px solid $admin-color;
  color: $admin-color;
}

.btn-export:hover,
.btn-share:hover {
  background-color: $admin-color;
  color: white;
}

.btn-action {
  font-weight: 500;
}

.height-100 {
  height: 100vh;
}

.card-user {
  width: 380px;
}

.dots {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-left: 4px;
  background-color: #dc3545;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.list li:hover {
  background-color: #dc3545;
  color: #fff;
}

.edit-card {
  margin-top: 12% !important;
}

nav {
  position: absolute !important;
}

abbr[title] {
  text-decoration: none !important;
  color: red;
}

.alert-fixed {
  margin-top: 5%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
}

.btn-hero:hover {
  background-color: rgb(133, 228, 133);
}

.form-signin {
  margin-top: 7% !important;
}

.btn-add {
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.btn-add:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icon-shape-success {
  font-size: 1.25rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(53, 110, 233, 0.3);
}

.icon-shape-quaternary {
  font-size: 1.25rem;
  width: 3rem;
  height: 3rem;
}

.broker-card {
  margin-bottom: 3px;
}

.card-stats {
  padding-left: 2.4rem;
  padding-top: 0.5rem;
  text-decoration: none;
}

.card {
  border: 0.0625rem solid rgba(46, 54, 80, 0.125);
  border-radius: 1rem;
}

.portfolio-card:hover {
  color: white;
  border: none;
  background: linear-gradient(45deg, #3174c2, #73b4ff);

  .icon-shape-success {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .text-success {
    color: $main-color !important;
  }
}

.stocks-price {
  font-weight: 500 !important;
  color: $main-color;
}

.stocks-title {
  font-weight: 600;
}

.search-bar {
  border-top-left-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}

.input-group-text {
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
}

.stock-change {
  font-weight: 500;
}

.stock-gain {
  color: $main-color;
}

.stock-loss {
  color: var(--bs-danger);
}

.stocks-card {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.stocks-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-c-green {
  background-image: linear-gradient(to right top, #006c75, #05c97b);
}

.bg-c-red {
  background: linear-gradient(45deg, #d82e4a, #e05959);
}

.admin-dropdown {
  color: #f7a028;
}

.broker-dropdown {
  color: #3174c2;
}

.show-card {
  height: 550px !important;
}

.add-user-btn {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.add-user-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.admin-card:hover {
  background: linear-gradient(45deg, #f7a028, #ffcb80);
  color: white;

  .text-admin-success {
    color: #007535;
  }

  .admin-text {
    color: white !important;
  }

  .fa-business-time {
    color: #049c88;
  }

  .icon-shape-primary {
    color: #262b40;
    background-color: rgba(245, 252, 251, 0.3);
  }

  .icon-shape-secondary {
    color: #8d5413;
    background-color: rgba(68, 37, 1, 0.3);
  }

  .icon-shape-info {
    color: #049c88;
    background-color: rgba(245, 252, 251, 0.3);
  }
}
