@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);

$main-color: rgb(75, 224, 75);

body {
  font-family: "Quicksand", serif;
  font-weight: 400;
  background-color: #f9fafb;
}

header {
  font-weight: 500;
}

.drop-login {
  min-width: 0 !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #ccc;
}

h1,
.navbar-brand {
  font-weight: 700;
}

h5 {
  font-weight: 600;
}

.hero-main {
  font-size: 3rem;
}

.hero-text {
  font-size: 20px !important;
}

.hero-img {
  margin-left: 65px;
  height: 600px;
}

.blob-img {
  position: absolute;
  padding-right: 0 !important;
  top: 0;
  left: 0;
  z-index: -1000;
}

i {
  margin-left: 5px;
  color: $main-color;
}

.btn-hero {
  background-color: $main-color;
  border-color: $main-color;
  font-size: 1rem;
  font-weight: 600;
}

.btn-header {
  font-size: 1rem;
  font-weight: 600;
}

.dashboard {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  border: 0.0625rem solid rgba(46, 54, 80, 0.125);
  border-radius: 1rem;
}

.fa-user-friends {
  font-size: 2rem;
  color: #262b40;
  margin-left: 0;
}

.fa-cash-register {
  font-size: 2rem;
  color: #f3b773;
  margin-left: 0;
}

.fa-chart-pie {
  font-size: 2rem;
  color: #069999;
  margin-left: 0;
}

.fa-user-shield {
  color: #262b40;
}

.fa-business-time {
  color: #f3b773;
}

.icon-shape-primary {
  color: #262b40;
  background-color: rgba(38, 43, 64, 0.3);
}

.icon-shape-secondary {
  color: #f3b773;
  background-color: rgba(243, 183, 115, 0.3);
}

.icon-shape-info {
  color: #53e2cf;
  background-color: rgba(37, 228, 218, 0.3);
}

.icon-shape {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem !important;
}

.admin-text {
  margin-bottom: 5.7%;
}

.text-admin-success {
  color: $main-color;
}

.nav-hidden {
  display: none !important;
}

.row,
.row > * {
  margin-top: 0;
}

.btn-share {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.btn-export {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.btn-export,
.btn-share {
  font-weight: 400;
  border: 1.5px solid $main-color;
  color: $main-color;
}

.btn-action {
  font-weight: 500;
}

.height-100 {
  height: 100vh;
}

.card-user {
  width: 380px;
}

.dots {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-left: 4px;
  background-color: #dc3545;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.list li:hover {
  background-color: #dc3545;
  color: #fff;
}

.edit-card {
  margin-top: 12% !important;
}

nav {
  position: absolute !important;
}

abbr[title] {
  text-decoration: none !important;
  color: red;
}

.alert-fixed {
  margin-top: 5%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
}

.btn-hero:hover {
  background-color: rgb(133, 228, 133);
}

.form-signin {
  margin-top: 7% !important;
}
