<ul class="navbar-nav me-auto mb-2 mb-md-0">
  <li class="nav-item dropdown mx-2">
    <a class="nav-link" aria-current="page" href="<%= root_path %>" role="button" aria-expanded="false">Home</a>
  </li>
  <li class="nav-item dropdown mx-2">
    <a class="nav-link" aria-current="page" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Users <i class="fas fa-angle-down admin-dropdown"></i></a>
    <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdownMenuLink2">
        <li><a class="dropdown-item" href="<%= admins_new_user_path %>">Add User</a></li>
        <li><a class="dropdown-item" href="<%= admins_index_path %>">See all Users</a></li>
    </ul>
  </li>
  <li class="nav-item mx-2">
    <a class="nav-link" aria-current="page" href="<%= home_transactions_path %>" id="navbarDropdownMenuLink3" role="button" aria-expanded="false">Transactions</a>
  </li>
</ul>