<div class="row mt-5 align-items-center">
  <div class="col-6">
    <h1 class="hero-main">Investments for a <br> secured future</h1>
    <span class="hero-text">The only platform you need to increase your success. 
    <br> 
    Sign up and get your first stock for free.
    </span>
    <br>
    <div class="dropdown">
      <button type="button" class="btn btn-hero btn-lg mt-3 rounded-pill text-dark dropdown-toggle" type="button" id="dropdownSignUpButton" data-bs-toggle="dropdown" aria-expanded="false">
      Sign up
    </button>
    <ul class="dropdown-menu drop-sign animate slideIn" aria-labelledby="dropdownSignUpButton">
      <li><%= link_to "As Buyer", new_buyer_registration_path, class:"dropdown-item"%></li>
      <li><%= link_to "As Broker", new_broker_registration_path, class:"dropdown-item"%></li>
    </ul>
    </div>
  </div>
  <div class="col-6 p-2">
    <img src=<%= asset_path("hero-1.png") %> class="hero-img"/>
  </div>
    <img src=<%= asset_path("blob-hero.svg") %> class="blob-img"/>
</div>